@font-face {
    font-family: AXIS;
    src: url(/fonts/AXIS.otf);
  }
@font-face {
    font-family: Fredoka One;
    src: url(/fonts/Fredoka.ttf);
  }

  .dom{
    color: white;
    font-family: AXIS;
    position: absolute;
    top: 50%;
    transform: translate(87%, 0%);
    font-size: 55px;
}
.donut-logo{
    width: 120px;
    height: 120px;
    
}
 
.cat-f{
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-family: Fredoka One;
    padding-left: 60px;
    padding-right: 80px;
    text-shadow: 2px 2px 1px black;
    
}
.cat-f:hover {
    color: gainsboro;
    transition: all 0.3s;
  }


.hed-fot{
    background: #f1c63d;
background: -moz-linear-gradient(top, #f1c63d 0%, #be8fff 44%, #30c9c0 100%);
background: -webkit-linear-gradient(top, #f1c63d 0%,#be8fff 44%,#30c9c0 100%);
background: linear-gradient(to bottom, #f1c63d 0%,#be8fff 44%,#30c9c0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c63d', endColorstr='#30c9c0',GradientType=0 );
}

.icon_hed{
    width: 45px;
    height: 45px;
}

.hed-i{
    padding-left: 60px;
}

                     /* footer */

                     .underlogo_txt{
                        padding-top: 30px;
                        margin-bottom: 10px;
                      }
                      
                       .text-white{
                        color: white;
                        font-family: AXIS;
                      }
                      
                      .sm-txt-fotter{
                        color: white;
                        font-size: 17px;
                        font-family: 'Montserrat', sans-serif;
                      }
                      
                      a {
                        color: inherit;
                        text-decoration: none;
                        transition: all 0.3s;
                      }
                      
                      a:hover, a:focus {
                        text-decoration: none;
                      }
                      
                      footer {
                        background: #00000098;
                      }
                      
                      /* ==========================================
                          CUSTOM UTILS CLASSES
                        ========================================== */
                        body, html {
                          height: 100%;
                        }
                      
                      .social{
                        font-size: 16px;
                        color: white;
                        text-decoration: underline;
                      }
                      
                      .social:hover{
                        text-decoration: underline;
                        color: lightgray;
                      }
                      
                      
                      .black{
                        background-color: #000000;
                        padding-top: 10px;
                      }
                      
                      .telega-link{
                        padding-left: 40px;
                      }
                      
                      .black-fotter{
                        color: rgb(61, 61, 61);
                        margin-left: 130px;
                      }
                      
                        .fotter-logo{
                          width: 120px;
                          height: 120px;
                          transform: translate(25%, 0%);
                        }
                      
                      
                      .sm-txt-fotter-gmail{
                        cursor: pointer;
                        color: white;
                        font-size: 17px;
                        font-family: 'Montserrat', sans-serif;
                        
                        
                      }
                      
                      .sm-txt-fotter-gmail:hover{
                        color: gainsboro;
                        text-decoration: underline;
                      }

.search_icon{
  width: 49px;
  height: 49px;
}

.search-bar{
  padding-left: 190px;
}

.in-input::placeholder {
  color: rgb(114, 114, 114);
}

.search-ph::placeholder{
  color: white;
}

/* Style the search field */
form.example input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: 3px solid white;
    float: left;
    width: 80%;
    background: transparent;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 5%;
    padding: 3px;
    background: transparent;
    color: white;
    font-size: 17px;
    border: 3px solid white;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #ffffff46;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }     


  /* up css from in */

  .in-txt{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }
  
  .btn-style{
    background: rgba(255, 255, 255, 0.199);
    border-color: #000000;
    border-radius: 7px;
    padding: 10px 40px 10px 40px;
  }
  
  .btn-style:hover{
    background: rgba(255, 255, 255, 0.856);
  }
    
  .in-input{
    background: #ffffff;
    border-color: #000000;
    border: 2px solid;
    border-radius: 5px;
  }
  
  .in-mar-block{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .in-btn{
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .in-title{
    color: white;
    font-family: AXIS;
    font-size: 25px;
    text-shadow: 2px 2px 1px black;
    padding-top: 20px;
  }
  .message-txt{
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
  }