/* _________________________________________ Головна _________________________________________ */

.main__receipt { 
    position: relative;
    background: rgba(0,0,0,.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  
    margin-left: calc(50% - 512px);
    margin-right: calc(50% - 512px);
  }
  
  /* _________________________________________ Рецепт _________________________________________ */
  
  .receipt {
    display: flex;
  }
  
  .receipt__img { 
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .receipt-block { 
    margin-top: 50px;
    margin-left: 40px;
  
    line-height: 40px;
  }
  
  .receipt__title { 
    font-family: AXIS;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 1px black;
  
    display: block;
    width: 350px;
    height: 70px;
  }
  
  .receipt__category { 
    text-shadow: 2px 2px 1px black;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
  }
  
  .receipt__date { 
    text-shadow: 2px 2px 1px black;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  @media (max-width: 1050px){
    .main__receipt { 
        margin-left: calc(50% - 375px);
        margin-right: calc(50% - 375px);
    }
  
    .receipt {
        flex-direction: column;
    }
  
    .receipt__img { 
        width: 736px;
        height: 414px;
        margin-left: calc(50% - 368px);
    }
  
    .receipt-block { 
        text-align: center;
    }
    
    .receipt__title { 
        margin-left: calc(50% - 175px);
    }
  }
  
  @media (max-width: 800px){
    .main__receipt { 
        margin-top: 200px;
        margin-left: calc(50% - 270px);
        margin-right: calc(50% - 270px);
    }
  
    .receipt__img { 
        width: 528px;
        height: 297px;
        margin-left: calc(50% - 264px);
    }
  }
  
  @media (max-width: 570px){
    .main__receipt { 
        margin-left: calc(50% - 190px);
        margin-right: calc(50% - 190px);
    }
  
    .receipt__img { 
        width: 368px;
        height: 207px;
        margin-left: calc(50% - 184px);
    }
  }
  
  /* ------- Кнопка Go To ------- */
  
  .receipt__link { 
    display: block;
    border: 3px #fff solid;
    border-radius: 10px;
    text-align: center;
    background-color: #000;
  
    font-family: AXIS;
    color: #fff;
    text-shadow: 1px 1px 1px black;
  
    padding: 5px 70px;
    width: 230px;
  
    margin-top: 150px;
  }
  .receipt__link {
    border: 1px #fff solid;
    text-align: center;
    font-family: AXIS;
    color: #fff;
    padding: 5px 70px;
    width: 230px;
    margin-top: 65px;
  
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
  }
  .receipt__link:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
    transition: background-color 0.68s ease;
  }
  .receipt span{
    position: absolute;
    display: block;
  }
  .receipt span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
  }
  .receipt span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
  }
  .receipt span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
  }
  @keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
  }
  .receipt span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
  }
  
  /* ------------------------ */
  
  /* _________________________________________ Автор _________________________________________ */
  
  .author {
    display: flex;
    border: 3px #000 solid;
    border-radius: 10px;
    max-width: 380px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  
  .author__img { 
    margin-top: 3px;
    margin-left: 20px;
    border-radius: 5px;
  }
  
  .author-block { 
    margin-left: 20px;
    line-height: 18px;
  
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 1px black;
  }
  
  .author__name { 
  
  }
  
  .author__email { 
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .author__email:hover { 
    text-shadow: none;
  }
  
  .author__date { 
  
  }
  
  @media (max-width: 1050px){
    .author {
        margin-top: 40px;
        margin-left: 360px;
    }
  }
  
  @media (max-width: 800px){
    .author {
        margin-left: 90px;
    }
  }
  
  @media (max-width: 570px){
    .author {
        margin-left: 0px;
    }
  }
  
  /* _________________________________________ Кубик _________________________________________ */
  
  .cube-links { 
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 220px;
  }
  
  .cube-link { 
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 3px #000 solid;
    text-align: center;
  }
  
  .cube-link a {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3px;
    color: #000;
  } 