.add-recipe {
  position: absolute;
  top: 1000px;
  left: 50%;
  width: 400px;
  padding: 40px;
  
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

@media (max-width: 700px){
  .add-recipe {
      margin-top: 130px;
  }
}

.add-recipe h1 {
  margin: 0 0 30px;
  padding: 0;
  font-family: AXIS;
  font-size: 20px;
  text-shadow: 2px 2px 1px black;
  color: #fff;
  text-align: center;
}

.form__box {
  position: relative;
}

input, textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-family: AXIS;
  text-shadow: 2px 2px 1px black;
  font-size: 13px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* -------------- Окремі випадки формів -------------- */

.form__category label {
  visibility: hidden;
}

.form__image {
  border-bottom: 1px #fff solid;
  height: 100px;
}

[type=file] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

.image__input {
  width: 100%;
  height: 100px;
}

select {
  width: 100%;
  height: 30px;
  font-family: AXIS;
  text-shadow: 2px 2px 1px black;
  font-size: 13px;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px #fff solid;
}

option {
  background-color: #303030;
}

/* -------------- Ховери формів -------------- */

.add-recipe .form__box input:focus ~ label, 
.add-recipe .form__box input:valid ~ label,
.add-recipe .form__box textarea:focus ~ label, 
.add-recipe .form__box textarea:valid ~ label,
.add-recipe .form__box select:valid ~ label {
  visibility: visible;
  top: -30px;
  left: 0;
  color: #03e9f4;
  font-size: 14px;
}

/* ------- Кнопка Go To ------- */

.form__btn {
  border: 1px #fff solid;
  text-align: center;
  font-family: AXIS;
  text-shadow: 1px 1px 1px black;
  font-size: 13px;
  color: #fff;
  padding: 5px 70px;
  width: 230px;
  margin-top: 65px;

  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
}
.form__btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: background-color 0.68s ease;
}
.form__btn span{
  position: absolute;
  display: block;
}
.form__btn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.form__btn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
.form__btn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}
.form__btn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}

/* ------------------------ */