/* _________________________________________ Головна _________________________________________ */

.main { 
  position: relative;
}

.main__container { 

}

.main-block__body {
  padding: 500px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

.main-block__body h2 { 
  text-align: center;
  font-family: Fredoka;
  font-size: 35px;
  color: #fff;
}


.main-block__body h1 { 
  text-align: center;
  font-family: Fredoka;
  font-size: 46px;
  color: #fff;
}

.main-block__image { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 700px){
  .main-block__body {
      padding: 600px 0px 0px 0px;
  }

  .main-block__body h2 { 
      font-size: 23px;
  }
  
  .main-block__body h1 { 
      font-size: 34px;
  }
  
}

/* _________________________________________ Слайдер _________________________________________ */

#container {
  position: relative;
  width:100%;
  padding-top:50%;
  max-height:100vh;
  overflow:hidden;
}

#container h1 {
  text-align: center;
  font-family: Fredoka;
  font-size: 35px;
  color: #fff;
  background-color: #be8fff;
}

#inner_container {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

#imgs_container {
  width:100%;
  height:100%;
}

.img_container {
  position:absolute;
  width:100%;
  height:100%;
  top:0%;
  transition:left 0.3s;
}

.img_container > img {
  margin: 0 0 0 calc(50% - 456px);
}

.img_container a {
  font-family: Fredoka;
  font-size: 25px;
  color: #fff;
  background-color: #be8fff;
  position: absolute;

  display: block;
  max-width: 450px;
  margin-top: -100px;
  margin-left: calc(50% - 225px);
}

#overlay {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.overlay_button {
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  top: 180px;
  width:5%;
  height:20%;
  border-radius: 5%;
  font-size: 3vw;
  font-weight: bold;
  background-color: #eded;
  opacity: 0.7;
  color: #333;
}

#left_button {
  left:2.5%;
}

#left_button:hover {
  opacity: 0.9;
}

#right_button{
  right: 2.5%;
}

#right_button:hover {
  opacity: 0.9;
}

@media (max-width: 992px){
  .img_container img {
      margin: 0 0 0 calc(50% - 248px);
      width: 496px;
      height: 279px;
  }

  .overlay_button {
      top: 100px;
  }
}

@media (max-width: 500px) {
  .img_container img {
    margin: 0 0 0 calc(50% - 176px);
    width: 352px;
    height: 198px;
  }

  .img_container a {
    font-size: 22px;

    max-width: 300px;
    margin-top: -74px;
    margin-left: calc(50% - 150px);
  }

  .overlay_button {
    top: 70px;
  }
}

@media (min-width: 1500px) {
  .img_container img {
      margin: 0 0 0 calc(50% - 640px);
      width: 1280px;
      height: 720px;
  }

  .overlay_button {
      top: 270px;
  }

  .img_container a {
    font-size: 40px;
  
    max-width: 650px;
    margin-top: -120px;
    margin-left: calc(50% - 325px);
  }
}

/* _________________________________________ Категорії _________________________________________ */

.category__container { 
  max-width: 1300px;
  margin: 0 auto;
}

.category__title { 
  text-align: center;
  font-family: Fredoka;
  font-size: 35px;
  color: #fff;
}

.category__links { 

}

.cat__row { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.category__link { 
 
}

.cat_10 {
  margin: 0px 0px 0px calc(50% - 150px);
}

.category__link img {
  width: 300px;
}

.category__sub-title { 
  position: absolute;
  margin: -100px 0px 0px 90px;
  
  font-family: Fredoka;
  font-size: 24px;
  color: #fff;
}

.cat_last {
  margin: -100px 0px 0px calc(50% - 50px);
}

@media (max-width: 992px){

  .category__sub-title { 
      font-size: 36px;
      margin: -150px 0px 0px 140px;
  }

  .cat_10 {
      margin: 0px 0px 0px 0px;
  }

  .category__link img {
      width: 500px;
  }

  .category__links {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .cat__row { 
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 700px){
  .category__link img {
      width: 400px;
  }

  .category__sub-title { 
      font-size: 32px;
      margin: -120px 0px 0px 110px;
  }
}

@media (min-width: 1300px){
  .category__link img {
      width: 400px;
  }

  .category__sub-title { 
      font-size: 30px;
      margin: -130px 0px 0px 120px;
  }

  .cat_10 {
      margin: 0px 0px 0px calc(50% - 200px);
  }

  .cat_last {
      margin: -130px 0px 0px 570px;
  }

  .category__title { 
      font-size: 40px;
  }
}